<div class="container-fluid d-flex flex-column gallery bg-light p-0">
  <app-search-bar></app-search-bar>
  <div class="container-fluid flex-gallery">
      <div class="row d-flex justify-content-center align-items-center row-height">
        <app-lightbox [previewUrl]="i.preview_url" [fileUrl]="i.file_url" [id]="x" [tags]="i.tags"
                      *ngFor="let i of xml | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: totalItems}; let x = index"></app-lightbox>
      </div>
    </div>
  <div class="row d-flex justify-content-center py-2 bg-dark">
      <pagination-controls class="my-pagination" (pageChange)="goToPage($event)"></pagination-controls>
    </div>
  </div>

