.item {
  float: left !important;
}

.gallery {
  flex: 1;
}

.flex-gallery {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: auto;
}

.row-height {
  min-height: 100vh;
}

.image-div {
  min-height: 200px;
  min-width: 300px;
}

app-lightbox {
  cursor: pointer;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: greenyellow;
}

.my-pagination /deep/ .ngx-pagination a, .ngx-pagination button {
  color: white;
}

.my-pagination /deep/ .ngx-pagination {
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}




