.item {
  float: left !important;
}

.gallery {
  background: url("assets/images/background.svg") repeat;
  flex: 1;
}

.flex-gallery {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: auto;
}

.row-height {
  min-height: 100vh;
}

app-lightbox {
  cursor: pointer;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #28a745;
}

.my-pagination /deep/ .ngx-pagination a, .ngx-pagination button {
  color: white;
}

.my-pagination /deep/ .ngx-pagination {
  padding: 0;
}

.my-pagination /deep/ .ngx-pagination {
  margin-bottom: 0;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

ng-masonry-grid {
  margin: auto;
}

ng-masonry-grid-item {
  cursor: pointer;
}

.flex-loader {
  align-self: center;
  top: 45%;
}



