#title-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.title-bar-container {
  height: 30px;
  overflow: hidden;
}

#title-bar {
  color: #18FF94;
}

.btn-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

svg {
  flex: 1;
}
