<div class="container-fluid p-0 d-flex flex-column title-bar-container">
  <div class="d-flex flex-row bg-dark h-100 align-items-center">
    <div id="title-bar" class="d-flex w-100">Booru Browser</div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-squared btn-dark py-0 px-1 btn-flex" (click)="Minimise()">
        <svg width="21px" height="2px" viewBox="0 0 21 2" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="svg-colour" transform="translate(-179.000000, -569.000000)" fill="#18FF94">
              <g id="icons" transform="translate(56.000000, 160.000000)">
                <polygon id="underline-[#1437]" points="123 411 144 411 144 409 123 409"></polygon>
              </g>
            </g>
          </g>
        </svg>
      </button>
      <button class="btn btn-squared btn-dark py-0 px-1 btn-flex" (click)="Maximise()">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="svg-colour" transform="translate(-220.000000, -3879.000000)" fill="#18FF94">
              <g id="icons" transform="translate(56.000000, 160.000000)">
                <path
                  d="M182,3733 L184,3733 L184,3725 L182,3725 L182,3733 Z M182,3737 L180,3737 L180,3739 L184,3739 L184,3735 L182,3735 L182,3737 Z M180,3719 L180,3721 L182,3721 L182,3723 L184,3723 L184,3719 L180,3719 Z M164,3733 L166,3733 L166,3725 L164,3725 L164,3733 Z M166,3735 L164,3735 L164,3739 L168,3739 L168,3737 L166,3737 L166,3735 Z M164,3723 L166,3723 L166,3721 L168,3721 L168,3719 L164,3719 L164,3723 Z M170,3739 L178,3739 L178,3737 L170,3737 L170,3739 Z M170,3721 L178,3721 L178,3719 L170,3719 L170,3721 Z"
                  id="focus-[#976]"></path>
              </g>
            </g>
          </g>
        </svg>
      </button>
      <button class="btn btn-squared btn-dark py-0 px-1 btn-flex" (click)="Exit()">
        <svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="svg-colour" transform="translate(-419.000000, -240.000000)" fill="#18FF94">
              <g id="icons" transform="translate(56.000000, 160.000000)">
                <polygon id="close-[#1511]"
                         points="375.0183 90 384 98.554 382.48065 100 373.5 91.446 364.5183 100 363 98.554 371.98065 90 363 81.446 364.5183 80 373.5 88.554 382.48065 80 384 81.446"></polygon>
              </g>
            </g>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
