<div class="container-fluid p-0 d-flex flex-column title-bar-container">
  <div class="d-flex flex-row bg-dark h-100 align-items-center">
    <div id="title-bar" class="d-flex w-100">Booru Browser</div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-squared btn-dark py-0 px-1" (click)="Minimise()"><img src="./assets/icons/minimise.png"/>
      </button>
      <button class="btn btn-squared btn-dark py-0 px-1" (click)="Maximise()"><img src="./assets/icons/maximise.png"/>
      </button>
      <button class="btn btn-squared btn-dark py-0 px-1" (click)="Exit()"><img src="./assets/icons/close.png"/></button>
    </div>
  </div>
</div>
