.filter-button {
  background-color: transparent;
}
.filter-button:focus{
  webkit-box-shadow: initial;
  box-shadow: initial;
}
.filter-button:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(90,97,105,.25);
}

.search-bar {
  overflow: hidden;
  border-top: 0;
  border-bottom: solid white 2px;
  border-left: solid white 2px;
  border-right: solid white 2px;
  border-radius: 0 0 10px 10px;
  margin: auto;
  width: 768px;
  background-color: #222222;
}

