<div class="row justify-content-center align-items-center search-bar-colour py-2 form-inline">
    <button class="btn btn-pill filter-button border-dark safe-filter mx-1"
            [ngStyle]="{'background-color': isSafe ? '#28a745' : '#343a40', 'color': isSafe ? '#343a40' : '#28a745'}"
            (click)="isSafe = !isSafe">Safe
    </button>
    <button class="btn btn-pill filter-button border-dark questionable-filter mx-1"
            [ngStyle]="{'background-color': isQuestionable ? '#F1A001' : '#343a40', 'color': isQuestionable ? '#343a40' : '#F1A001'}"
            (click)="isQuestionable = !isQuestionable">Questionable
    </button>
    <button class="btn btn-pill filter-button border-dark explicit-filter mx-1"
            [ngStyle]="{'background-color': isExplicit ? '#BF0000' : '#343a40', 'color': isExplicit ? '#343a40' : '#BF0000'}"
            (click)="isExplicit = !isExplicit">Explicit
    </button>
  <input class="input-group-text form-control mx-1" [(ngModel)]="tags" type="text" title="Search Terms" (keypress)="checkKeyPress($event)" placeholder="Tags...">
  <select class="mx-1 form-control" [(ngModel)]="pageSize" title="Number of Images">
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button class="btn btn-pill btn-dark mx-1" (click)="submitSearch()">Search</button>
</div>
