.modal {
  margin-top: 30px;
  display: flex;
  background-color: black;
  flex-flow: column;
}

.lightbox-content {
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.div-img {
  padding: 25px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}

.svg-inline--fa {
  flex: 1;
  height: 20px;
}

.tags-container {
  overflow: hidden;
  left: 0;
  height: 100%;
  width: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
}

.prev-btn, .next-btn, .info-btn {
  color: black;
  background-color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.prev-btn:hover, .next-btn:hover, .info-btn:hover {
  background-color: rgba(169,169,169, .5);
}

.prev-btn {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.next-btn {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.info-width div{
  width: 25vw;
}
