<div [@lightboxAnimate]="active" (@lightboxAnimate.done)="handleState($event)"
     (@lightboxAnimate.start)="handleState($event)" id="modal" class="modal p-0"
     (keydown)="isEscape($event)">
  <div class="action-button-absolute d-flex action-button-color text-dark" (click)="closeModal()">
    <i class="fas fa-times"></i>
  </div>
  <div class="lightbox-content">
    <div *ngIf="!isLoaded " class="loader"></div>
    <img [@imageFade]="isLoaded" class="div-img" src="{{posts[index].file_url}}"
         (load)="loaded();">
    <div class="d-flex position-absolute align-self-end">
      <div class="prev-btn" (click)="previousPost()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
             viewBox="0 0 640 640" width="50" height="50">
          <defs>
            <clipPath id="_clipPath_ODZQkXwxL5OJOIVaV3LQ0ArIloSqYSTP">
              <rect width="640" height="640"/>
            </clipPath>
          </defs>
          <g clip-path="url(#_clipPath_ODZQkXwxL5OJOIVaV3LQ0ArIloSqYSTP)">
            <g id="Group">
              <g id="Group">
                <path
                  d=" M 265.271 320 L 428.723 483.452 C 438.48 493.209 439.455 508.075 430.901 516.63 L 430.901 516.63 C 422.346 525.185 407.48 524.209 397.723 514.452 L 203.271 320 L 397.723 125.548 C 407.48 115.791 422.346 114.815 430.901 123.37 L 430.901 123.37 C 439.455 131.925 438.48 146.791 428.723 156.548 L 265.271 320 Z "
                  fill="rgb(0,0,0)"/>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="info-btn">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
             viewBox="0 0 640 640" width="50" height="50">
          <defs>
            <clipPath id="_clipPath_6phQ85rZtTELp4bVaquMPjG9t9W2mjlI">
              <rect width="640" height="640"/>
            </clipPath>
          </defs>
          <g clip-path="url(#_clipPath_6phQ85rZtTELp4bVaquMPjG9t9W2mjlI)">
            <g transform="matrix(1,0,0,1,235,159)">
              <text transform="matrix(1,0,0,1,57.75,225)"
                    style="font-family:&quot;Bree Serif&quot;;font-weight:400;font-size:350px;font-style:normal;fill:#000000;stroke:none;">
                i
              </text>
            </g>
          </g>
        </svg>
      </div>
      <div class="next-btn" (click)="nextPost()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
             viewBox="0 0 640 640" width="50" height="50">
          <defs>
            <clipPath id="_clipPath_1j5Dz0I0ebribadMzwgAIvQAOpnGVKC1">
              <rect width="640" height="640"/>
            </clipPath>
          </defs>
          <g clip-path="url(#_clipPath_1j5Dz0I0ebribadMzwgAIvQAOpnGVKC1)">
            <g id="Group">
              <g id="Group">
                <path
                  d=" M 374.729 320 L 211.277 483.452 C 201.52 493.209 200.545 508.075 209.099 516.63 L 209.099 516.63 C 217.654 525.185 232.52 524.209 242.277 514.452 L 436.729 320 L 242.277 125.548 C 232.52 115.791 217.654 114.815 209.099 123.37 L 209.099 123.37 C 200.545 131.925 201.52 146.791 211.277 156.548 L 374.729 320 Z "
                  fill="rgb(0,0,0)"/>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>


    <div class="caption-container">
      <div class="row justify-content-center">
        <div class="action-button-relative action-button-color text-dark" (click)="download(posts[index].file_url)">
          <i class="fas fa-download"></i>
        </div>

      </div>
      <p><span class="btn btn-pill action-button-color text-light m-1"
               *ngFor="let tag of posts[index].tags.split(' ')">{{tag}}</span></p>
    </div>
  </div>
